.name {
  position: absolute;
  top: 35%;
  left: 65%;
}

.verticalline {
  position: absolute;
  left: 55%;
  border-left: 2px solid lightgray;
  height: 98%;
}

.container {
  max-width: 40rem;
  padding: 3rem 1rem;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  position: absolute;
  width: 35%;
  left: 12%;
  top: 32%;
  font-size: 200%;
  line-height: 2;
  font-family: "Lucida Console", Courier, monospace;
}

.score {
  position: absolute;
  right: 5%;
  top: 5%;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 20px;
}

.description {
  position: absolute;
  right: 5%;
  top: 9%;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 20px;
}

button {
  background-color: white;
  color: black;
  border-left: hidden;
  border-right: hidden;
  border-top: hidden;
  border-bottom: 2px solid #0066ff;
  font-family: "Source Sans Pro";
  font-size: 30px;
  width: 150px;
  cursor: pointer;
}

h1 {
  font-family: "Lucida Console", Courier, monospace;
}

h2 {
  font-family: "Lucida Console", Courier, monospace;
}
